$red: #ff3665;
$brown:#471002;
$orange: #ffa500;
$dull-blue : #71c0ca;
$dark-red: #530420;
$gray: #23161a;
$light-orange : #d3aa93;
$card-bg: rgba(0,0,0,.6);
$fade-white: #d5e3e9;
$yellow: #feecb6;
$lang-color: #ecddc4;
$dark-gray: #42565e;